<h1 class="display-4">Olar</h1>
<p class="mb-4">App em Sails.js para CRUD de usuários</p>
<a href="/user/list" class="btn btn-light">Ver usuários</a>
<a href="/user/add" class="btn btn-light">Adicionar usuário</a>
